@font-face {
    font-family: 'Nick Glade';
    src: url('../fonts/NickGlade.ttf');
    src: url('../fonts/NickGlade.eot?#iefix') format('embedded-opentype'), url('../fonts/NickGlade.woff') format('woff'), url('../fonts/NickGlade.ttf') format('truetype');
}
@font-face {
    font-family: 'Nick Glade Bold';
    src: url('../fonts/NickGladeB.ttf');
    src: url('../fonts/NickGladeB.ttf') format('truetype');
}
html, body {
    font-family: 'Nick Glade';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.content{

}