li {
    list-style: none;
}

.poc-nav > li > a {
    font-size: 15px;
    line-height: 22px;
}

.poc-nav-right {
    float: right;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 13px;
    margin-right: 15px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.poc-nav-container {
    min-height: 45px;
}

.navbar-brand {
    font-family: 'Nick Glade Bold';
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: bolder;
}

.poc-nav-inverse {
    background: #026ab4 url(../img/hdr_bg.gif);
}

.poc-nav-inverse .navbar-brand {
    color: #ffffff;
}

.poc-nav-inverse .navbar-brand:hover, .poc-nav-inverse .navbar-brand:focus {
    color: rgb(242, 46, 0);
    background-color: transparent;
}

.poc-nav-inverse .navbar-text {
    color: #ffffff;
}

.poc-nav-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.poc-nav-inverse .navbar-nav > li > a:hover, .poc-nav-inverse .navbar-nav > li > a:focus {
    /*color: rgb(242, 46, 0);*/
    background-color: #66B4BD;
}

.poc-nav-inverse .authentication > li > a:hover, .poc-nav-inverse .navbar-nav > li > a:focus {
    /*color: rgb(242, 46, 0);*/
    background-color: transparent;
}

.poc-nav-inverse .navbar-nav > .active > a, .poc-nav-inverse .navbar-nav > .active > a:hover, .poc-nav-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #66B4BD;
}

.poc-nav-inverse .navbar-nav > .disabled > a, .poc-nav-inverse .navbar-nav > .disabled > a:hover, .poc-nav-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.poc-nav-inverse .navbar-toggle {
    border-color: #333333;
}

.poc-nav-inverse .navbar-toggle:hover, .poc-nav-inverse .navbar-toggle:focus {
    background-color: #333333;
}

.poc-nav-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.poc-nav-inverse .navbar-collapse, .poc-nav-inverse .navbar-form {
    border-color: #101010;
}

.poc-nav-inverse .navbar-nav > .open > a, .poc-nav-inverse .navbar-nav > .open > a:hover, .poc-nav-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #66B4BD;
}

@media (max-width: 767px) {
    .poc-nav-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #66B4BD;
    }

    .poc-nav-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #66B4BD;
    }

    .poc-nav-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999999;
    }

    .poc-nav-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .poc-nav-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .poc-nav-inverse .navbar-nav .open .dropdown-menu > .active > a, .poc-nav-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .poc-nav-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #66B4BD;
    }

    .poc-nav-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .poc-nav-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .poc-nav-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}

.poc-header {
    background: url(../img/header_background.jpg) repeat-x;

}

.poc-header h2 {
    font-family: 'Nick Glade Bold';
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: #000 -1px -1px 0;
}

.poc-header p {
    font-family: 'Nick Glade Bold';
    font-size: 12px;
    color: white;
    padding-left: 20px;
}

.poc-header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.poc-header ul > li {
    padding: 0 10px;
    border-right: 1px solid #48AfE6;
    display: list-item;
    float: left;
    text-align: -webkit-match-parent;
}

.poc-header ul > li > a {
    color: #ffffff;
    font-family: 'Nick Glade Bold';
    font-size: 12px;
    text-decoration: none;
}

.poc-header > .container {
    padding-top: 60px;
}

.menuBar {
    border-top: 1px solid #ffffff;
}

.ftrSocial {
    width: 100%;
    overflow: hidden;
}

.ftrSocial > a {
    color: #ffffff;
    font-family: 'Nick Glade Bold';
    font-size: 12px;
    text-decoration: none;
}

.pinput {
    border: 1px solid #bfc3d1;
    height: 30px;
    border-radius: 4px;
    /* color: #AAAAAA; */
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: inset 1px 1px 2px rgba(140, 140, 140, .4);
}

.pinput:focus {
    border: 1px solid #1780FB;
    box-shadow: 0px 0px 4px rgba(23, 128, 251, .9);
}

.searchInput {
    margin-top: 1px;
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    padding-right: 20px;
}

.menu-active {
    background-color: #66B4BD;
}

.pet-menu {
    background-color: #428bca;
}

.pet-menu > li {
    border-right: 1px solid #ffffff;
    cursor: pointer;
}

.pet-menu > li > a {
    color: #ffffff;
    font-family: 'Nick Glade Bold';
    font-size: 20px;
    text-decoration: none;
}

.pet-menu > li > a:hover,
.pet-menu > li > a:focus {
    text-decoration: none;
    background-color: #66B4BD;
}

.pet-menu .open > a,
.pet-menu .open > a:hover,
.pet-menu .open > a:focus {
    background-color: #66B4BD;
    border-color: #428bca;
}

.pet-menu .dropdown-menu > ul {
    padding-left: 10px;
}

.submenu {
    float: left;
    padding-left: 0px;
}

.submenu-heading {
    color: #003366;
    font-family: 'Nick Glade Bold';
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: default;
}

.submenu .menuItem a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #003366 !important;
    height: auto;
    padding: 0;
    text-transform: capitalize;
}

.submenu .menuItem a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}

.submenu .viewAll {
    margin-top: 10px;
}

.submenu .viewAll a {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}

.submenu .viewAll a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #003366 !important;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    padding: 0;
    text-transform: capitalize;
}

.submenu .viewAl a {
    color: #FFFFFF;
    text-decoration: none;
}

.submenu .divider {
    cursor: default;
    margin: 5px 0;
}

